@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";




main {
    background-color: #efefef;
}
//navbar left
.navbar-left {
    background-color: #434A3B;
    transform: translateX(0);
    transition: transform 1s;

    //to right
    .navbar-left-right {
        background-color: #2e351c;
        //custom icon

        .custom-icon {
            color: #efefef;
            font-size: 3em;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar-left {
        position: absolute;
        transform: translateX(-75%);
    }
}

//dashboard body
.dashboard-body{
    background-color: black;
}