<main class="container-fluid">
    <div class="navbar-left">
        <div class="row my-1">
            <div class="row m-0 p-0">
                <div class="col-9 bg-info">
                    <div class="row">
                        <div class="col-4 offset-4">
                            <img class="img-fluid" src="../../../assets/Loyola-logo-final.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-3 bg-dark">
                    <div class="row">
                        <div class="col-12">
                            <mat-icon class="icon custom-icon d-flex align-items-center">menu</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col-10">

        </div>
    </div>
</main>