<main class="container-fluid">
    <div class="row">
        <div class="col-2 navbar-left">
            <div class="row">
                <div class="col-4 offset-4">
                    <mat-icon class="icon">menu</mat-icon>
                </div>
                <div class="col-6 offset-3 ">
                    <img class="img-fluid" src="../../../assets/Loyola-logo-final.png" alt="">
                </div>
                <mat-icon>accessible</mat-icon>
            </div>
        </div>
        <div class="col-10">

        </div>
    </div>
</main>