<main class="container-fluid">
    <div class="row">
        <div class="col-2 navbar-left">
            <div class="d-flex justify-content-evenly my-2 icon-title">
                <img class="img-fluid" src="../../../assets/LOGO JLO.jpg" alt="">
                <h2 class=" my-auto">
                    JUAN LECHIN OQUENDO
                </h2>
            </div>
            <hr>
            <div class="w-100">
                <ul class="list-group">
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>Opción 1
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>Estudiantes
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>Opción 3
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>Opción 1
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                    <hr>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                    <li class="list-group-item border-0 navbar-item">
                        <mat-icon>assignment</mat-icon>texto largo
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10 m-0 p-0">
            <div class="container-fluid">

                <div class="row justify-content-evenly dash-top pt-3 pb-5">
                    <div class="col-10 col-sm-8 col-md-4 offset-md-0">
                        <form class="form input-search">
                            <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn" type="submit">
                                <mat-icon>search</mat-icon>
                            </button>
                        </form>
                    </div>
                    <div class=" col-8 offset-4 col-sm-5 offset-sm-8 order-first order-md-0 col-md-3 offset-md-3 user-options">
                        <mat-icon class="white-icon">label</mat-icon>
                        <div class="user-field" (click)="clickUser($event)">
                            <img src="https://www.factoringdivisa.com/images/images/profile.jpg" alt="">
                            <h3>
                                Miguel Huayhua
                            </h3>
                        </div>
                        <!--User options box-->
                        <div (mouseleave)="userLeave($event)" [ngClass]="{'userBox':true, 'show':this.showUserOptions}">

                        </div>
                    </div>
                    <hr class="line-decoration">
                    <div class="col-3">
                        <div class="card bg-transparent rounded overflow-hidden">
                            <div class="card-body fast-info">
                                <div class="fast-info-text">
                                    <h4>
                                        INFORMACIÓN RÁPIDA
                                    </h4>
                                    <p>34534534</p>
                                </div>
                                <span>
                                    <mat-icon class="white-icon">calendar_today</mat-icon>
                                </span>

                            </div>
                            <div class="card-footer fast-info-footer">
                                <span>
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                    Subida total
                                </span>
                                <h5>Hace 44 días</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-transparent rounded overflow-hidden">
                            <div class="card-body fast-info">
                                <div class="fast-info-text">
                                    <h4>
                                        INFORMACIÓN RÁPIDA
                                    </h4>
                                    <p>34534534</p>
                                </div>
                                <span>
                                    <mat-icon class="white-icon">calendar_today</mat-icon>
                                </span>

                            </div>
                            <div class="card-footer fast-info-footer">
                                <span>
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                    Subida total
                                </span>
                                <h5>Hace 44 días</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-transparent rounded overflow-hidden">
                            <div class="card-body fast-info">
                                <div class="fast-info-text">
                                    <h4>
                                        INFORMACIÓN RÁPIDA
                                    </h4>
                                    <p>34534534</p>
                                </div>
                                <span>
                                    <mat-icon class="white-icon">calendar_today</mat-icon>
                                </span>

                            </div>
                            <div class="card-footer fast-info-footer">
                                <span>
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                    Subida total
                                </span>
                                <h5>Hace 44 días</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-transparent rounded overflow-hidden">
                            <div class="card-body fast-info">
                                <div class="fast-info-text">
                                    <h4>
                                        INFORMACIÓN RÁPIDA
                                    </h4>
                                    <p>34534534</p>
                                </div>
                                <span>
                                    <mat-icon class="white-icon">calendar_today</mat-icon>
                                </span>

                            </div>
                            <div class="card-footer fast-info-footer">
                                <span>
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                    Subida total
                                </span>
                                <h5>Hace 44 días</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-evenly">
                    <div class="col-7">
                        <google-chart class="linear-graphic" [data]="this.data"
                            [columns]='["Month", "Tokyo", "New York","Berlin", "Paris"]' [height]="400"
                            [type]="this.type" [options]="this.options"></google-chart>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-12">
                                <google-chart class="linear-graphic" [data]="this.data2"
                                    [columns]='["Browser", "Percentage"]' [type]="this.type2" [options]="this.options2">
                                </google-chart>
                            </div>
                            <div class="col-12">
                                <google-chart class="linear-graphic" [data]="this.data2"
                                    [columns]='["Browser", "Percentage"]' [type]="this.type2" [options]="this.options2">
                                </google-chart>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row d-flex justify-content-evenly">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title fw-bold py-0 my-0">TÍTULO 1</h3>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item border-0 item-info">
                                    <img src="https://thumbs.dreamstime.com/b/retrato-de-hombre-mirando-la-c%C3%A1mara-sobre-el-fondo-blanco-158750254.jpg"
                                        alt="">
                                    <div class="info">
                                        <p>Marco Alejandro Rita Conde</p>
                                        <span>
                                            <span class="icon"></span>
                                            <h6>Online</h6>
                                        </span>
                                    </div>
                                    <button class="btn ">Acción</button>

                                </li>
                                <li class="list-group-item border-0 item-info">
                                    <img src="https://thumbs.dreamstime.com/b/retrato-de-hombre-mirando-la-c%C3%A1mara-sobre-el-fondo-blanco-158750254.jpg"
                                        alt="">
                                    <div class="info">
                                        <p>Marco Alejandro Rita Conde</p>
                                        <span>
                                            <span class="icon"></span>
                                            <h6>Online</h6>
                                        </span>
                                    </div>
                                    <button class="btn ">Acción</button>

                                </li>
                                <li class="list-group-item border-0 item-info">
                                    <img src="https://thumbs.dreamstime.com/b/retrato-de-hombre-mirando-la-c%C3%A1mara-sobre-el-fondo-blanco-158750254.jpg"
                                        alt="">
                                    <div class="info">
                                        <p>Marco Alejandro Rita Conde</p>
                                        <span>
                                            <span class="icon"></span>
                                            <h6>Online</h6>
                                        </span>
                                    </div>
                                    <button class="btn ">Acción</button>

                                </li>
                                <li class="list-group-item border-0 item-info">
                                    <img src="https://thumbs.dreamstime.com/b/retrato-de-hombre-mirando-la-c%C3%A1mara-sobre-el-fondo-blanco-158750254.jpg"
                                        alt="">
                                    <div class="info">
                                        <p>Marco Alejandro Rita Conde</p>
                                        <span>
                                            <span class="icon"></span>
                                            <h6>Online</h6>
                                        </span>
                                    </div>
                                    <button class="btn ">Acción</button>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-8">
                        <google-chart class="linear-graphic w-100" [data]="this.data3"
                            [columns]="['Year', 'Asia','Europe']" [height]="200" [type]="this.type3"
                            [options]="this.options3"></google-chart>

                        <table class="table bg-white rounded">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>